## References

- HL7 Europe [DiagnosticReport: Laboratory Report](https://build.fhir.org/ig/hl7-eu/laboratory/StructureDefinition-DiagnosticReport-eu-lab.html)
- HL7 International [Genomics Reporting Implementation Guide](https://build.fhir.org/ig/HL7/genomics-reporting/index.html)
  - HL7 USA [minimal Common Oncology Data Elements (mCODE) Implementation Guide - Genomics](https://build.fhir.org/ig/HL7/fhir-mCODE-ig/group-genomics.html)
- [HL7 Version 2.5.1 Implementation Guide: Lab Results Interface (LRI), Release 1 from May 2017](https://confluence.hl7.org/download/attachments/25559919/2018%2004%2003%20-%20V2%20LRI%20-%20Ch.%205%20CG%20and%20Code%20System%20Tables.pdf?api=v2)
- [openEHR Genomic variant result](https://ckm.openehr.org/ckm/archetypes/1013.1.3759)
- [NHS England FHIR Genomics Implementation Guide—Clinical Headings](https://simplifier.net/guide/fhir-genomics-implementation-guide/home/design/clinicalheadings)

## Domain Archetype

### Somatic Reporting

[HL7 FHIR Genomics Reporting - Somatic Reporting](https://hl7.org/fhir/uv/genomics-reporting/pharmacogenomics.html)

<figure>
{%include GenomicReport-Somatic.svg%}
<p id="fX.X.X.X-X" class="figureTitle">Genomic Report - Somatic</p>
</figure>
<br clear="all">

<!-- 
### Pharmacogenomic Reporting

[HL7 FHIR Genomics Reporting - Pharmacogenomic Reporting](https://hl7.org/fhir/uv/genomics-reporting/pharmacogenomics.html)

<figure>
{%include GenomicReport-Pharmacogenomic.svg%}
<p id="fX.X.X.X-X" class="figureTitle">Genomic Report - Somatic</p>
</figure>
<br clear="all">
-->

### HL7 v2 Genetic Variant Reporting (ORU_R01)

> [Master HL7 genetic variant reporting panel](https://nw-gmsa.github.io/R4/Questionnaire-81247-9.html)

<!--

<figure>
{%include LaboratoryReportDataProduct.svg%}
<p id="fX.X.X.X-X" class="figureTitle">Genomics Test Report Data Product</p>
</figure>
<br clear="all">

## Common Information Model

<figure>
{%include reports-model.svg%}
<p id="fX.X.X.X-X" class="figureTitle">Genomics Test Report Model</p>
</figure>
<br clear="all">
-->

## Communication Model

[Order Results Management [LAB-3]](LAB-3.html)
