
### References

- [HL7 Version 2.5.1 Implementation Guide: Lab Results Interface (LRI), Release 1 from May 2017](https://confluence.hl7.org/download/attachments/25559919/2018%2004%2003%20-%20V2%20LRI%20-%20Ch.%205%20CG%20and%20Code%20System%20Tables.pdf?api=v2)
- [Genomics Reporting Implementation Guide](https://build.fhir.org/ig/HL7/genomics-reporting/index.html)
  - HL7 USA Oncology [minimal Common Oncology Data Elements (mCODE) Implementation Guide](https://build.fhir.org/ig/HL7/fhir-mCODE-ig/index.html)
- [openEHR Genomic variant result](https://ckm.openehr.org/ckm/archetypes/1013.1.3759)

### Domain Archetype

[Master HL7 genetic variant reporting panel](https://interop-nwengland.github.io/LTW-Genomics/Questionnaire-81247-9.html)

### Common Information Model

<figure>
{%include reports-model.svg%}
<p id="fX.X.X.X-X" class="figureTitle">Genomics Test Report Model</p>
</figure>
<br clear="all">

### Communication Model

[Order Results Management [LAB-3]](LAB-3.html)
